*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

/*Prop. de GRID index*/
.contenedor{
    height: 100vh;
    display: grid;

    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;

    grid-template-areas: "header header header header"
                         "aside main main main" 
                         "aside section section1 section2"                 
                         "footer footer footer footer";
}


/*Prop. de GRID nosotros*/
.contenedor2{
    height: 100vh;
    display: grid;

    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;

    grid-template-areas: "header header header header"
                         "aside main main main" 
                         "aside section section1 section1"                 
                         "footer footer footer footer";
}

/*Prop. de GRID productos y carrito*/
.contenedor3{
    height: 100vh;
    display: grid;

    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;

    grid-template-areas: "header header header header"
                         "main main main main" 
                         "section section section section"                 
                         "footer footer footer footer";
}


/*Encabezado*/
header{
    grid-area: header;
    background-color: rgba(207, 203, 203, 0.699);
}

nav ul{
    display: flex;
    justify-content:flex-end;
    list-style: none;
}

nav ul li{
    background-color: lightblue;
    color:black;
    margin: 10px;
    padding: 5px;
    border-radius: 50px;
}

div a{
    margin: 5px;
}


/*Contenido de la página*/
main{
    grid-area: main;
    background-color:rgb(253, 217, 173);
}

.prod{
    margin:15px;
    padding:10px;    
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: rgb(3, 3, 116);
}

.home h2{
    display: flex;
    justify-content: center;
    padding: 50px;
}

h2, h3{
    padding: 20px;
    display: flex;
    justify-content: center;
}

section{
    grid-area: section;
    background-color:  rgb(208, 241, 252);
}

section p, .section1 p, .section2 p{
    margin: 5px;
    padding: 5px;
}

.section1{
    grid-area: section1;
    background-color: lightblue;
}

section ul li{
    list-style: none;
    margin: 5px;
    padding: 5px;
}

section ol{
    margin: 20px;
    padding: 10px;
}

section ol li{
    margin: 5px;
    padding: 5px;
    }

.section2{
    grid-area: section2;
    background-color:  rgb(208, 241, 252);
}

.map{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.sabana, .sabana2, .acolchado, .frazada, .almohada{
    padding: 5px;
    margin: 5px;
}


/*Publicidad*/
aside{
    grid-area: aside;
}


/*Pie de página*/
footer{
    grid-area: footer;
    background-color: rgb(197, 190, 190);  
}

.foot{
    display: flex;
    justify-content: space-between;
}

.foot p{
    margin: 2px;
    padding: 2px;
}

.foot h4{
    margin: 5px;
    padding: 5px;
}


/*Formato Mobile*/
@media only screen and (max-width:768px){ 

    /*Prop. de GRID index y nosotros*/
.contenedor, .contenedor2{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.8fr;

    grid-template-areas: "header header header"
                         "main main main" 
                         "section section1 section2"                 
                         "footer footer footer";
}

/*Prop. de GRID productos y carritos*/
.contenedor3{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.2fr 0.8fr;

    grid-template-areas: "header header header"
                         "main main main" 
                         "section section section"                 
                         "footer footer footer";
}

aside{
    display: none;
}

}











